.landing-page {
  background: linear-gradient(
    to top right,
    #0a0a0a,
    #141414,
    #1f1f1f,
    #292929,
    #333333
  );
}

/* .landing-page {
  background: 
} */

/* .landing-page {
  background: linear-gradient(
    to top right,
    #f08080,
    #f4978e,
    #f8ad9d,
    #fbc4ab,
    #ffdab9
  );
} */

/* .landing-page {
  background: linear-gradient(
    to top right,
    #264653,
    #2a9d8f,
    #e9c46a,
    #f4a261,
    #e76f51
  );
} */

/* .landing-page {
  background: linear-gradient(
    to top right,
    #003049,
    #d62828,
    #f77f00,
    #fcbf49,
    #eae2b7
  );
} */

/* .landing-page {
  background: linear-gradient(to top right, #e09f3e, #9e2a2b, #540b0e);
} */
